.landing {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: auto;
  grid-template-areas: "aside main";
  grid-column: 1 / -1;

  &__aside {
    grid-area: aside;

    .aside__tag {
      display: block;
      margin: .5rem 0;

      font-size: 1.4rem;
      text-align: center;

      input:checked + label {
        background: firebrick;
      }
    }
  }

  &__main {
    grid-area: main;
  }
}
