.btn {
  -webkit-appearance: none;
  
  display: block;
  width: 100%;
  padding: .5rem 0;
  margin: .5rem auto;

  border: none;
  background: map(colors, brands, linkedin);

  color: white;
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;

  transition: background .3s ease-in;

  &:hover,
  &:focus,
  &:active {
    background: map(colors, brands, facebook);
  }
}