.home {
  display: grid;
  width: 80vw;
  margin: 2rem auto;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 9fr 3rem;
  grid-template-areas: "articles articles articles"
                        "pagination pagination pagination";
  grid-gap: .5rem;

  &__article-list {
    display: grid;
    grid-area: articles;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: .5rem;
  }
}